.card-wrapper {
  height: 500px; 
  display: flex;
  flex-wrap: wrap; 
  gap: 40px; 
  justify-content: space-evenly;
  }
.single-card {
    width: 250px; 
    height: 40%; 
  }
.card-button {
    border: 1px solid #81B430 !important;
    color: #61ce70 !important;
  }
.card-button-second {
    border: 1px solid #81B430 !important;
    background-color: #81B430 !important;
    color: white !important;
  }
.card-button-wrapper{
     display: flex;
     gap:20px;
    }

